Assignment 5/Assignment_5_Part_I/CSE_445_A5_Part1/App_WebReferences/LoginReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51716/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51716/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51716/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51716/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetNewsFocus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsFocus" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNewsFocus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsFocusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNewsHeadlines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsHeadlines" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNewsHeadlines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsHeadlinesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWindEnergyIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWindEnergyIndex" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWindEnergyIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWindEnergyIndexResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTop10Words_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTop10Words" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTop10Words_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTop10WordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="IService1_addUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchUser_InputMessage">
    <wsdl:part name="parameters" element="tns:searchUser" />
  </wsdl:message>
  <wsdl:message name="IService1_searchUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_search_InputMessage">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="IService1_search_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVerifierString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerifierString" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVerifierString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerifierStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WordFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:WordFilter" />
  </wsdl:message>
  <wsdl:message name="IService1_WordFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:WordFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCountryInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCountryInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TimeZoneInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:TimeZoneInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_TimeZoneInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimeZoneInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WeatherInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:WeatherInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_WeatherInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WeatherInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SolarIntensity_InputMessage">
    <wsdl:part name="parameters" element="tns:SolarIntensity" />
  </wsdl:message>
  <wsdl:message name="IService1_SolarIntensity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolarIntensityResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetNewsFocus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNewsFocus" message="tns:IService1_GetNewsFocus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNewsFocusResponse" message="tns:IService1_GetNewsFocus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsHeadlines">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNewsHeadlines" message="tns:IService1_GetNewsHeadlines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNewsHeadlinesResponse" message="tns:IService1_GetNewsHeadlines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWindEnergyIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetWindEnergyIndex" message="tns:IService1_GetWindEnergyIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetWindEnergyIndexResponse" message="tns:IService1_GetWindEnergyIndex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTop10Words">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTop10Words" message="tns:IService1_GetTop10Words_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTop10WordsResponse" message="tns:IService1_GetTop10Words_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addUser" message="tns:IService1_addUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addUserResponse" message="tns:IService1_addUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchUser" message="tns:IService1_searchUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchUserResponse" message="tns:IService1_searchUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/search" message="tns:IService1_search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchResponse" message="tns:IService1_search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerifierString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetVerifierString" message="tns:IService1_GetVerifierString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetVerifierStringResponse" message="tns:IService1_GetVerifierString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetImage" message="tns:IService1_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetImageResponse" message="tns:IService1_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WordFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WordFilter" message="tns:IService1_WordFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WordFilterResponse" message="tns:IService1_WordFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCountryInfo" message="tns:IService1_GetCountryInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCountryInfoResponse" message="tns:IService1_GetCountryInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimeZoneInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TimeZoneInfo" message="tns:IService1_TimeZoneInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TimeZoneInfoResponse" message="tns:IService1_TimeZoneInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WeatherInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WeatherInfo" message="tns:IService1_WeatherInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WeatherInfoResponse" message="tns:IService1_WeatherInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolarIntensity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SolarIntensity" message="tns:IService1_SolarIntensity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SolarIntensityResponse" message="tns:IService1_SolarIntensity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewsFocus">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNewsFocus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsHeadlines">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNewsHeadlines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWindEnergyIndex">
      <soap:operation soapAction="http://tempuri.org/IService1/GetWindEnergyIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTop10Words">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTop10Words" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/IService1/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchUser">
      <soap:operation soapAction="http://tempuri.org/IService1/searchUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="http://tempuri.org/IService1/search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerifierString">
      <soap:operation soapAction="http://tempuri.org/IService1/GetVerifierString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WordFilter">
      <soap:operation soapAction="http://tempuri.org/IService1/WordFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCountryInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeZoneInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/TimeZoneInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WeatherInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/WeatherInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolarIntensity">
      <soap:operation soapAction="http://tempuri.org/IService1/SolarIntensity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51716/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>